/* Contact */

.tabs-contact__item {
  width: 80%;
  padding: 0.75rem 2.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--color-1);
  background-color: var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.tabs-contact__item:hover,
.tabs-contact__item.active {
  background-color: var(--color-1);
  transition: all 750ms;
}
/* Tabs Responsive */
@media only screen and (max-width: 480px) {
  .chat-box {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 1rem;
    max-height: 45rem;
    z-index: 2;
  }

  .chat-box__icon-close {
    display: inline-block !important;
    margin-left: 0.75rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    transition: all 750ms;
    cursor: pointer;
  }

  .chat-box__icon-close:hover {
    background-color: var(--color-2);
    transition: all 750ms;
  }

  .chat-box__icon-bell {
    display: inline-block !important;
    position: fixed;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    top: 0.5rem;
    right: 1rem;
    border-radius: 50%;
    transition: all 750ms;
  }

  .chat-box__icon-bell:hover {
    background-color: var(--color-1);
    transition: all 750ms;
  }

  .chat-box__icon-bell-count {
    display: inline-block !important;
    position: fixed;
    padding: 0.25rem;
    font-size: 0.6rem;
    top: 2.5rem;
    right: 0.5rem;
    color: var(--color-3);
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    border-radius: 50%;
  }

  .chat-box__body {
    max-height: 40rem !important;
  }

  .user {
    width: 100%;
    margin: 0 !important;
    top: 0;
    left: 0;
    right: 0;
  }
}

/* Content Contacts */

.list-contacts__title {
  height: 10%;
  background-color: var(--color-1);
}

.list-contacts__title--text {
  padding: 1rem 2rem;
  font-weight: 700;
}

.list-contacts__tbl {
  max-height: 85vh;
  padding: 0 1rem;
  background-color: var(--color-2);
  border-top: 2px solid var(--color-2);
  border-bottom: 2px solid var(--color-2);
  overflow-y: scroll;
}

.list-contacts__tbl::-webkit-scrollbar {
  width: 6px;
}

.list-contacts__tbl::-webkit-scrollbar-thumb {
  background-color: var(--color-4);
  border-radius: 5px;
}

.list-contacts__card {
  display: inline-block;
  width: 16rem;
  padding: 0.5rem 0rem;
  margin: 1rem 0.5rem;
  text-align: center;
  background-color: var(--color-1);
  border-radius: 20px;
}

/* Card */
.card__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.card__title {
  margin: 0.5rem 0;
  max-width: 8.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__icon {
  display: inline-block;
  margin: 0.5rem 0.25rem;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-2);
  border-radius: 15px;
  transition: all 750ms;
  cursor: pointer;
}

.card__icon:hover {
  background-color: var(--color-1);
  transition: all 750ms;
}

.list-contacts__icon {
  display: inline-block !important;
  border-radius: 50%;
  transition: all 750ms;
  cursor: pointer;
  z-index: 5;
}

.list-contacts__icon:hover {
  background-color: var(--color-2);
  transition: all 750ms;
}

.list-contacts__icon-bell {
  display: inline-block !important;
  position: fixed;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--color-2);
  border: 1px solid var(--color-1);
  bottom: 0.5rem;
  right: 1rem;
  border-radius: 50%;
  transition: all 750ms;
}

.list-contacts__icon-bell:hover {
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  transition: all 750ms;
}

.list-contacts__icon-bell-count {
  display: inline-block !important;
  position: fixed;
  padding: 0.25rem;
  font-size: 0.6rem;
  bottom: 2.5rem;
  right: 0.5rem;
  color: var(--color-3);
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  border-radius: 50%;
}

/* Tabs Responsive */
@media only screen and (max-width: 480px) {
  .list-contacts__tbl--item {
    width: 20rem;
  }
  .list-contacts__tbl {
    max-width: 25rem;
    max-height: 46rem;
  }

  #content {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 45rem;
    z-index: 2;
  }

  .chat-box__icon-close:hover {
    background-color: var(--color-2);
    transition: all 750ms;
  }
}
